.user-list {
  display: flex;
  gap: 5rem;

  .list {
    min-width: 270px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .user {
    width: 270px;
    min-width: 270px;

    .edit-btn {
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .user-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
